name: CI

on:
  merge_group:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        cargo_checks:
          - name: Enforce default cargo fmt
            subcommand: fmt -- --check
          - name: Clippy
            subcommand: clippy
          - name: Test
            subcommand: test --verbose
          - name: Build
            subcommand: build --release --all-features --verbose
    steps:
      - uses: actions/checkout@v4
      - name: Stable with rustfmt and clippy
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
      - name: cargo check - ${{ matrix.cargo_checks.name }}
        run: cargo ${{ matrix.cargo_checks.subcommand }}

  #update-project-stuff:
  #  if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
  #  uses: ./.github/workflows/update-repo-stuff.yml
  #  secrets: inherit

  #done:
  #  name: Done
  #  if: github.event_name == 'push' && github.ref == 'refs/heads/staging'
  #  needs:
  #    - ci
  #    - update-project-stuff
  #  runs-on: ubuntu-latest
  #  steps:
  #    - name: Done
  #      run: echo "Done!"
